<ng-container *ngIf="deck">
    <div class="header">
        <div class="deck-name">{{ deck.name }}</div>

        <div class="show-filter-button" (click)="showFilters = !showFilters">
            <fa-icon [icon]="icons.faFilter"></fa-icon>
        </div>
    </div>

    <div class="filters" *ngIf="showFilters">
        <div
            class="filters-filter filters-filter-not-bought"
            (click)="toggleFilterActive(notBoughtCardsFilter)">

            <div class="filters-filter-checkbox">
                <fa-icon *ngIf="getFilterActive(notBoughtCardsFilter)" [icon]="icons.faCheck"></fa-icon>
            </div>

            Cartes non-achetées

            <div class="filters-filter-preview-count">
                {{ getFilteredDeckCards(getPreviewFilters(notBoughtCardsFilter)).length }}
            </div>
        </div>

        <div class="filters-title">
            Couleurs et types
        </div>

        <div class="filters-category">
            <div
                *ngFor="let colorCardsFilter of getAvailableColorFilters()"
                class="filters-filter filters-filter-colors"
                (click)="toggleFilterActive(colorCardsFilter)">

                <div class="filters-filter-checkbox">
                    <fa-icon *ngIf="getFilterActive(colorCardsFilter)" [icon]="icons.faCheck"></fa-icon>
                </div>

                {{ colorCardsFilter.colors.join('') || 'C' }}

                <div class="filters-filter-preview-count">
                    {{ getFilteredDeckCards(getPreviewFilters(colorCardsFilter)).length }}
                </div>
            </div>
        </div>

        <div class="filters-title">
            Sets
        </div>

        <div class="filters-category">
            <div
                *ngFor="let setCardsFilter of getAvailableSetFilters()"
                class="filters-filter filters-filter-set"
                (click)="toggleFilterActive(setCardsFilter)">

                <div class="filters-filter-checkbox">
                    <fa-icon *ngIf="getFilterActive(setCardsFilter)" [icon]="icons.faCheck"></fa-icon>
                </div>

                {{ setCardsFilter.set }}

                <div class="filters-filter-preview-count">
                    {{ getFilteredDeckCards(getPreviewFilters(setCardsFilter)).length }}
                </div>
            </div>
        </div>
    </div>

    <div class="cards">
        <div
            *ngFor="let cardInfo of getDisplayedDeckCards()"
            class="card"
            [ngClass]="'color-' + getColorClass(cardInfo.card)"
            [class.bought]="cardInfo.quantityBought >= cardInfo.quantityWanted"
            (click)="toggleDisplayPriceDetails(cardInfo.card)">

            <div class="card-quantity" (click)="toggleDisplayedQuantityModification(cardInfo.card); $event.stopImmediatePropagation();">
                <div class="card-quantity-text">
                    {{ cardInfo.quantityWanted - cardInfo.quantityBought }}
                </div>
            </div>
            <div class="card-name">
                {{ cardInfo.card.name }}
            </div>
            <div class="card-colors">
                {{ cardInfo.card.land ? 'L' : '' }}{{ cardInfo.card.colors.join('') }}
            </div>
            <div class="card-mana-value">
                {{ cardInfo.card.manaValue }}
            </div>

            <div class="card-best-price">
                <ng-container *ngTemplateOutlet="price; context: {
                    cardPrice: getBestPrice(cardInfo.card, true),
                    card: cardInfo.card
                }"></ng-container>
            </div>

            <div
                class="card-quantity-modification"
                *ngIf="displayedQuantityModificationCardName == cardInfo.card.name"
                (click)="$event.stopImmediatePropagation()">

                <div class="card-quantity-modification-bought">
                    <div
                        class="card-quantity-modification-button"
                        (click)="updateCardQuantity(cardInfo.card, { quantityBought: -1 })">

                        <fa-icon [icon]="icons.faMinus"></fa-icon>
                    </div>
                    {{ cardInfo.quantityBought }}
                    <div
                        class="card-quantity-modification-button"
                        (click)="updateCardQuantity(cardInfo.card, { quantityBought: +1 })">

                        <fa-icon [icon]="icons.faPlus"></fa-icon>
                    </div>
                </div>

                <div class="card-quantity-modification-separator">/</div>

                <div class="card-quantity-modification-wanted">
                    <div
                        class="card-quantity-modification-button"
                        (click)="updateCardQuantity(cardInfo.card, { quantityWanted: -1 })">

                        <fa-icon [icon]="icons.faMinus"></fa-icon>
                    </div>
                    {{ cardInfo.quantityWanted }}
                    <div
                        class="card-quantity-modification-button"
                        (click)="updateCardQuantity(cardInfo.card, { quantityWanted: +1 })">

                        <fa-icon [icon]="icons.faPlus"></fa-icon>
                    </div>
                </div>
            </div>

            <div
                class="card-price-details"
                *ngIf="displayedPriceDetailsCardName == cardInfo.card.name">

                <ng-container *ngFor="let cardPrice of getDisplayedDetailedPrices(cardInfo.card)">
                    <ng-container *ngTemplateOutlet="price; context: {
                        cardPrice: cardPrice,
                        card: cardInfo.card
                    }"></ng-container>
                </ng-container>

                <ng-container *ngIf="!getDisplayedDetailedPrices(cardInfo.card).length">
                    Aucun autre prix
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #price let-cardPrice="cardPrice" let-card="card">
    <div
        class="card-price"
        [ngClass]="'price-category-' + getPriceCategory(cardPrice, card)">

        <span class="card-price-set">{{ cardPrice.set }}</span>
        <span class="card-price-collector-number">{{ cardPrice.collectorNumber }}</span>
        <span class="card-price-price">{{ cardPrice.price | currency:'EUR':'symbol' }}</span>
    </div>
</ng-template>
