/* You can add global styles to this file, and also import other style files */

@import '@fontsource/open-sans';

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: content-box;
}
